<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".FitGymApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitGym">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.client.auth.LoginActivity">
        </activity>
        <activity android:name=".ui.client.auth.RecoverPasswordActivity" />

        <activity android:name="com.example.fitgym.ui.client.auth.RegisterActivity" />
        <!-- Déclaration de LoginAdminActivity -->
        <activity android:name="com.example.fitgym.ui.admin.LoginAdminActivity" />
        <activity android:name=".ui.client.CoachDetailFragment"/>

        <activity android:name="com.example.fitgym.ui.admin.MainActivityAdmin" />
        <!-- Client -->
        <activity android:name=".ui.client.MainActivityClient" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
